html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'VT323', monospace;
    color: #60284d;
}

    #game-greeting { 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-bottom: 50px;
        margin-top: 50px;
        background-color: #ff356f;
        border: 2px solid black;
    }

    .wrapper { 
        display: flex;
        width: 100%;
        height: 100%;
        margin: auto;
        justify-content: center;
    }

        #start {
            width: 396px;
            height: 158px;
            background-image: url('assets/images/start.png');
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: auto;
            position: absolute;
            cursor: pointer;
            background-size: cover;
            display: block;
        }

        #canvas {
            background-image: url('assets/images/day.png');
            background-size: cover;
            border: 5px solid black;
            transition: 0.5s ease;
            box-shadow: rgba(100, 100, 111, 1.2) 0px 7px 29px 0px;
        }

        #restart {
            width: 100px;
            height: 100px;
            background-image: url('assets/images/restart.png');
            top: 50%;
            left: 50%;
            cursor: pointer;
            transform: translate(-50%, -50%);
            margin: auto;
            position: absolute;
            background-size: cover;
            display: none;
        }

    #game-results { 
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 20px;
        margin-top: 50px;
        font-size: 30px;
        background-color: #ff356f;
        border: 2px solid black;
    }



